/* Infusionsoft PROXIMA-NOVA Font-Face Declarations */

/**
PROXIMA NOVA SOFT REGULAR
**/
@font-face {
  font-family: 'proxima-nova-soft';
  src: url('/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.eot');
  src: url('/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.woff') format('woff'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.ttf') format('truetype'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_regular-webfont.svg#proxima_nova_softregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/**
PROXIMA NOVA SOFT MEDIUM
**/
@font-face {
  font-family: 'proxima-nova-soft';
  src: url('/fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.eot');
  src: url('/fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.woff') format('woff'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.ttf') format('truetype'),
  url('/fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.svg#proxima_nova_softmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

/**
PROXIMA NOVA THIN
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Thin-webfont.eot');
  src: url('/fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Thin-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Thin-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 100;
  font-style: normal;

}

/**
PROXIMA NOVA THIN - ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-ThinIt-webfont.eot');
  src: url('/fonts/ProximaNova-ThinIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-ThinIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-ThinIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-ThinIt-webfont.svg#proxima_novathin_italic') format('svg');
  font-weight: 100;
  font-style: italic;

}

/**
PROXIMA NOVA LIGHT
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Light-webfont.eot');
  src: url('/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Light-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

/**
PROXIMA NOVA LIGHT - ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-LightIt-webfont.eot');
  src: url('/fonts/ProximaNova-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-LightIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-LightIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-LightIt-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

/**
PROXIMA NOVA REGULAR
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Reg-webfont.eot');
  src: url('/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/**
PROXIMA NOVA REGULAR ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-RegIt-webfont.eot');
  src: url('/fonts/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-RegIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-RegIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

/**
PROXIMA NOVA SEMI-BOLD (600)
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Sbold-webfont.eot');
  src: url('/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

/**
PROXIMA NOVA SEMI-BOLD (600) - ITALIC ****
**/
@font-face {
  font-family: 'proxima_novasemibold_italic';
  src: url('/fonts/ProximaNova-SboldIt-webfont.eot');
  src: url('/fonts/ProximaNova-SboldIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-SboldIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-SboldIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-SboldIt-webfont.svg#proxima_novasemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}

/**
PROXIMA NOVA REGULAR BOLD
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Bold-webfont.eot');
  src: url('/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Bold-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/**
PROXIMA NOVA REGULAR BOLD/ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-BoldIt-webfont.eot');
  src: url('/fonts/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-BoldIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-BoldIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-BoldIt-webfont.svg#proxima_novabold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}

/**
PROXIMA NOVA REGULAR BOLD
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Xbold-webfont.eot');
  src: url('/fonts/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Xbold-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Xbold-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}

/**
PROXIMA NOVA EXTRA BOLD/ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-XboldIt-webfont.eot');
  src: url('/fonts/ProximaNova-XboldIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-XboldIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-XboldIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-XboldIt-webfont.svg#proxima_novaextrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic;
}

/**
PROXIMA NOVA REGULAR BLACK
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-Black-webfont.eot');
  src: url('/fonts/ProximaNova-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Black-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-Black-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-Black-webfont.svg#proxima_nova_blblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

/**
PROXIMA NOVA BLACK/ITALIC
**/
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNova-BlackIt-webfont.eot');
  src: url('/fonts/ProximaNova-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-BlackIt-webfont.woff') format('woff'),
  url('/fonts/ProximaNova-BlackIt-webfont.ttf') format('truetype'),
  url('/fonts/ProximaNova-BlackIt-webfont.svg#proxima_novablack_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}
